{% extends "cms/base.html" %}
{% load bootstrap5 %}

{% block title %}レビューの編集{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">レビューの編集</h4>
    {% if review_id %}
        <form action="{% url 'cms:review_mod' restaurant_id=restaurant_id review_id=review_id %}" method="post">
    {% else %}
        <form action="{% url 'cms:review_add' restaurant_id=restaurant_id %}" method="post">
    {% endif %}
{% csrf_token %}
{% bootstrap_form form layout='horizontal' %}
<div class="form-group row">
    <div class="offset-md-3 col-md-9">
        <button type="submit" class="btn btn-primary">送信</button>
    </div>
</div>
</form>
<a href="{% url 'cms:review_list' restaurant_id=restaurant_id %}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}